// Colors
$blue: #2D364E;
$lightBlue: #CAEDFF;
$pink: #FFC7EA;
$purple: #D8B4F8;
$yellow: #FBF0B2;
$red: #FF7F7F;
$green: #90EE90;
$white: #ffffff;
$black: #000000;
$grey: #615E5D;

// Tailwind responsive screen sizes
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

// Global styles
$font-size-sm: 16px;
$font-size-md: 20px;
$font-size-lg: 50px;

$line-height-sm: 10px;
$line-height-md: 20px;

$border-radius-sm: 10px;
$border-radius-lg: 20px;

$font-weight-reg: 400;
$font-weight-bold: 600;
$font-weight-bolder: 700;